:root {
  font-family: Outfit, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}


#root,
.App {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #e0e0e0;
    background-color: #121212;
  }

  a:hover {
    color: #747bff;
  }

  .loginPanel {
    background-color: #1e1e1e;
  }

  .btn-hmp {
    background-color: #7662D3;
  }

  .btn-hmp:hover {
    background-color: #4a3c87;
  }

  .btn-mmp {
    color: #A0A0A0;
    background-color: #242424;
  }

  .btn-mmp:hover {
    background-color: #1E1E1E;
  }

  input {
    background-color: #000;
  }

  h2 {
    color: #E0E0E0;
  }

  p,
  .label {
    color: #A0A0A0;
  }

  .fake-link {
    color: #7662D3;
  }

  .error {
    color: #A82830;
  }



}