:root {
  font-family: Outfit, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #bb86fc;
  --primary-30-color: #66488b;
  --primary-14-color: #5f4283;

  --secondary-color: #a586fc;
  --secondary-30-color: #634f99;
  --secondary-14-color: #66529c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}


#root,
.App {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #e0e0e0;
    background-color: #121212;
  }

  a:hover {
    color: #747bff;
  }

  .loginPanelWrapper {
    background-color: #1e1e1e;
    border: 1px solid #272727;
  }

  button {
    border: none;
    transition: 1s all ease;
  }

  .btn-hmp {
    color: #212121;
    background-color: var(--primary-color);
  }

  .btn-mmp {
    color: #212121;
    background-color: var(--secondary-color);
  }

  .btn-hmp:hover {
    background-color: var(--primary-30-color);
  }

  .btn-mmp:hover {
    background-color: var(--secondary-30-color);
  }

  input {
    background-color: #000;
  }

  h2 {
    color: #E0E0E0;
  }

  p,
  .label {
    color: #A0A0A0;
  }

  .fake-link {
    color: var(--primary-color);
  }

  .error {
    color: #A82830;
  }

}