:root {
  font-family: Outfit, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-white: rgba(255, 255, 255, 87%);
  --main-white-60: rgba(255, 255, 255, 60%);


  --primary-color: #147CD9;
  --primary-60: #0C4A82;

  --secondary-color: #5E53F1;
  --secondary-60: #7653d7;

  --background-light: #242424;
  --background-dark: #1e1e1e;
  --border-dark: #2B2B2B;

  --error-color: #A82830;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}


#root,
.App {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--main-white);
    background-color: #121212;
  }

  a:hover {
    color: #747bff;
  }

  .loginPanelWrapper {
    background-color: var(--background-dark);
    border: 1px solid var(--border-dark);
  }

  button {
    border: none;
    transition: 1s all ease;
  }

  .btn-hmp {
    color: var(--main-white);
    background-color: var(--secondary-color);
  }

  .btn-hmp:hover {
    background-color: var(--secondary-60);
  }

  .btn-mmp {
    color: var(--main-white);
    /* background-color: var(--secondary-color); */
    background-color: transparent;
    border: 1px solid var(--secondary-color);
  }

  .btn-mmp:hover {
    background-color: var(--secondary-60);
  }

  .nav-ul-component a {
    color: var(--main-white)
  }

  .nav-ul-component a:hover {
    color: var(--main-white-60)
  }

  input {
    background-color: #000;
  }

  h2 {
    color: #E0E0E0;
  }

  p,
  .label {
    color: #A0A0A0;
  }

  .fake-link {
    color: var(--secondary-color);
  }

  .error {
    color: #A82830;
  }

}